.highlight {
  font-weight: bold;
  color: #67B7E5;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.home_container {
  width: 90%;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.home_name {
  font-family: 'Helvetica', sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: bold;
  line-height: 54px
}

.home_table {
  border: none;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
  position: relative;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #67B7E5;
}

.research_link {
  color: #67B7E5;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

.topnav {
  background-color: black;
  padding: 2px 14px 0px;
  overflow: hidden;
  font-family: 'Helvetica', sans-serif;
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 24px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  color: #67B7E5;
}

.topnav a.active {
  font-weight: bold;
}

.topnav .myname {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
}

.bottom {
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  font-size: 10px;
  text-align: center;
  position: fixed;
  bottom: 5%;  
  width: 100%;
}

.responsive {
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 44px;
  font-weight: normal;
  text-shadow: 1px 1px 2px gray;
  color: black;
  text-align: center;
  position: relative;
  top: 20px;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
  font-weight: lighter;
  font-variant: small-caps;
  text-shadow: 1px 1px 1px gray;
  color: black;
  text-align: center;
  top: 5px;
}

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  top: 20px;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  font-size: 17px;
}

.container.research_bio {
  width: 57%;
  text-align: justify;
  text-justify: inter-word;
}

.container.research_links {
 width: 85%;
 text-align: center;
 font-weight: bold;
 font-size: 17px;
 margin-top: -5px;
 margin-bottom: 5px;
 padding: 0px;
}

.cv_table {
  border: none;
  margin-left: auto; 
  margin-right: auto;
}

.table_heading {
  font-weight: bold;
  text-align: right;
  padding-right: 25px;
}

.papers_list {
  list-style-type: none;
  position: relative;
  top: 10px;
  color: black;
}

ol.papers_list > li:before {
  font-weight: bold;
  content: "[" counter(papers) "] ";
  counter-increment: papers -1;
  margin: 5px;
}

ul.papers_list > li:before {
  font-weight: bold;
  content: "\25A0";
  margin: 5px;
}

.papers_list > li {
  list-style: none;
  margin: 10px;
  padding-left: 1%;
}

.papers_list > li a {
  text-decoration: none;
  color: #67B7E5;
}

.papers_list > li a.arxiv_link {
  color: red;
}

.seminars_table_container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  top: 25px;
  left: 0px;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

.seminars_table {
  border: none;
  margin-left: auto; 
  margin-right: auto;
}

.seminars_details {
  vertical-align: bottom;
}

.seminars_abstract {
  vertical-align: top;
}

.seminars_title {
  font-weight: bold;
  font-style: italic;
  /*color: #67B7E5;*/
}
  
.seminars_abstract_text {
  font-style: italic;
}


* html papers_list { list-style-type:decimal; }
*+html papers_list { list-style-type:decimal; }
